eventenergie.app {
    tls C:\eventenergie\ssl\www.eventenergie.app_ssl_certificate.cer C:\eventenergie\ssl\www.eventenergie.app_private_key.key

    handle /api/* {
        reverse_proxy localhost:8002
    }
    handle {
        root * C:\eventenergie\frontend\build
        try_files {path} /index.html
        file_server
    }
}

www.eventenergie.app {
    redir https://eventenergie.app{uri} permanent
}
