eventenergie.app {
    tls C:\eventenergie\ssl\eventenergie.app.cer C:\eventenergie\ssl\eventenergie.app.key

    handle /api/* {
        reverse_proxy localhost:8002
    }
    handle {
        root * C:\eventenergie\frontend\build
        try_files {path} /index.html
        file_server
    }
}

www.eventenergie.app {
    redir https://eventenergie.app{uri} permanent
}
